{
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": ["import"],
  "rules": {
    "semi": ["error", "never"],
    "arrow-parens": ["error", "as-needed"],
    "no-console": [
      "error",
      {
        "allow": ["warn", "info", "error"]
      }
    ],
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "React": "writable"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {}
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
